footer.footer
  .wrapper
    .footer__legal
      .footer__legal-left
        p.footer__copyright 
          |  2016-2021 © Автобот – автомобильная поисковая система. Все права защищены.
        p.footer__contacts
          |  Индивидуальный предприниматель Романчук Сергей Николаевич, УНП 193440708,
          |#[br]Государственная регистрация от 07.07.2020г. произведена минским горисполкомом. 
          |#[br]Юр. адрес: 220085, г. Минск, ул.Плеханова 59/67
          |#[br]Время работы: 9:00—17:30 пн—пт.
          |#[br]Телефон: +375 (44) 724-51-52
          |#[br]info@autobot.by
      nav.footer__legal-right
        each val in ['Договор публичной оферты', 'Правила пользования сайтом', 'Общая информация по оплате', 'Положение (возмездные услуги)', 'Оплата посресдством ЕРИП']
          a(href="#").footer__link= val
    hr.footer__line
    .footer__payments
      each val in ['erip', 'logos']
        img(src="/img/" + val + ".png" alt= val).footer__payment