header.header
  .wrapper
    .header__logo
      span.header__logo-main Автобот
      span.header__logo-description поисковая система
    .header__buttons
      a(href="#").header__login Вход
      a(href="#").signup_small Регистрация
      