header.header
  .wrapper
    .header__nav
      .header__logo
        span.header__logo-main Автобот
        span.header__logo-description поисковая система
      .header__buttons
        a(href="#").header__login Вход
        a(href="#").signup_small Регистрация
    .header__description
      span.header__description-title Автомобильная поисковая система
      span.header__description-text 
        | Чтобы быстрее оказаться у нужного автомобиля
        |#[br]от проверенного продавца