$base-color: #ffffff;
$blue-color: #1145AC;
$green-color: #20CF49;
$golden-color: #F1C933;
$grey-color: #8E8989;
$grey-bg: #E5E5E5;

$mediaWidthMobileSmall: 320px;
$mediaWidthMobileBig: 480px;
$mediaWidthTabletSmall: 640px;
$mediaWidthTabletBig: 960px;
$mediaWidthLaptop: 1200px;

$cardDescriptionMargins: (
  card-1: 63px,
  card-2: 59px,
  card-3: 55px,
  card-4: 55px,
  card-5: 71px,
  card-6: 44px,
  card-7: 29px,
  card-8: 31px,
  card-9: 29px,
  card-10: 20px
)