$base-color: #ffffff;
$blue-color: #1145AC;
$green-color: #20CF49;
$golden-color: #F1C933;
$grey-color: #8E8989;
$grey-bg: #E5E5E5;

$mediaWidthMobileSmall: 320px;
$mediaWidthMobileBig: 480px;
$mediaWidthTabletSmall: 640px;
$mediaWidthTabletBig: 960px;
$mediaWidthLaptop: 1200px;